<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="inc/asset.html::asset" />

<body>
<div class="container">
    <span th:text="${session.nickname}" id="nickname" name="nickname">닉네임</span>

    <input type="hidden" id="page" name="page" th:value="${page}">
    <input type="hidden" id="size" name="size" th:value="${size}">

    <div class="d-grid gap-2 d-md-block">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#sendModal">메시지 보내기</button>
    </div>

    <table class="table caption-top">
        <caption>받은 메시지</caption>
        <thead>
        <tr>
            <th scope="col"><input type="checkbox"></th>
            <th scope="col">보낸 사람</th>
            <th scope="col">제목</th>
            <th scope="col">날짜</th>
        </tr>
        </thead>
        <tbody id="messageSection">
        <tr>
            <td colspan="4">메시지를 로딩중입니다.</td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination" id="pagination"></ul>
    </nav>
    <div class="modal fade" id="sendModal" tabindex="-1" aria-labelledby="joinModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="joinModalLabel">메시지 보내기</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/member/join">
                        <div class="mb-3">
                            <label for="joinNickname" class="col-form-label">닉네임</label>
                            <input type="text" class="form-control" id="joinNickname" name="joinNickname">
                        </div>
                        <div class="mb-3">
                            <label for="content" class="col-form-label">메시지</label>
                            <textarea class="form-control" id="content" name="content"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="submit" class="btn btn-primary" id="sendBtn">보내기</button>
                </div>
            </div>
        </div>
    </div>

    <script>

        $(() => listView.init());

        var listView = {

        };

        listView.init = function () {
            this.list();
            this.sendBtnClick();
            this.changePage();
            this.interval();
        };

        listView.interval = function() {
            // setInterval(() => this.list(), 2000);
        }

        listView.list = function() {
            var that = this;

            var requestParam = JSON.stringify({
                page: $("#page").val(),
                size: $("#size").val(),
            });

            $.ajax({
                url: "/message/list",
                type: "POST",
                data: requestParam,
                dataType: "JSON",
                contentType: 'application/json',
            })
                .success(function (result) {
                    var html = '';
                    if (result.content.length == 0) {
                        return;
                    }
                    result.content.forEach((element) => {
                        html += '<tr';
                        if (element.readYn == 'NO') {
                            html += ' style="font-weight:bold";';
                        }
                        html += '>';
                        html += '<td><input type="checkbox" data-seq="' + element.seq + '"></td>' +
                            '<td>' + element.sender.nickname + '</td>\n' +
                            '<td>' + element.content + '</td>\n' +
                            '<td>' + element.sendDatetime + '</td></tr>';
                    });

                    var page = '';
                    for (var i = 0; i < result.totalPages; i++) {
                        if (requestParam.page == (i + 1)) {
                            page += '<li class="page-item">'
                                + '<a class="page-link" href="#">' + (i + 1) + '</a>'
                                + '</li>';
                        } else {
                            page += '<li class="page-item"><a class="page-link" href="#">' + (i + 1) + '</a></li>';
                        }
                    }

                    $("#messageSection").html(html);
                    $("ul#pagination").html(page);
                })
                .error(function (result) {
                    alert("알 수 없는 오류가 발생했습니다.");
                })
        };

        listView.sendBtnClick = function() {

            var that = this;

            $("#sendBtn").click(function (e) {

                e.preventDefault();

                var requestParam = JSON.stringify({
                    sender: $("#nickname").text(),
                    recipient: $("#recipient").val(),
                    content: $("#content").val()
                });

                $.ajax({
                    url: "/message/send",
                    type: "POST",
                    data: requestParam,
                    dataType: "JSON",
                    contentType: 'application/json',
                })
                    .success(function () {
                        window.location = "/message/list";
                    })
                    .error(function () {
                        alert("알 수 없는 오류가 발생했습니다.");
                    })
            });
        }

        listView.changePage = function() {
            var that = this;
            $(document).on('click', '#pagination > li > a', function(e) {
                $("#page").val(e.currentTarget.innerHTML);
                that.list();
            });
        };

    </script>

</div>
</body>